name: Build

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: YOCKOW/Action-setup-swift@master
      with:
        swift-version: '5.3'
    - name: Install SQLite libs
      run: sudo apt-get install libsqlite3-dev
    - name: Build
      run: swift build --enable-test-discovery
    - name: Tests
      run: swift test --enable-test-discovery